<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>公司简介</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      
      <div class="col-lg-4 col-lg-offset-4">
        <p> 新乡华伟窑炉研发有限公司位于新乡市卫辉唐庄镇工业园，是一家专注窑炉技术研发与制造的综合型企业。公司拥有雄厚的专业技术力量，是一支由高级总工10人，
          高级工程师20人，技术人员100余人，18支建设施工队伍组成的优秀团队。同时本公司有着先进的生产设备，完善的质量管理体系，高效的生产质量和优质的售后服务，在业界享有盛誉！</p>
      </div>


      <div class="col-lg-4 col-lg-offset-2">
        <p> 公司秉承以"创新为先导、质量求生存、诚信为基石"的企业理念，经过研发与实践一步步创新和改选，致力于煤矸石、页岩、建筑垃圾等工业废渣为原料、
          以粉煤灰、燃气、重油为燃料能源，在生产标砖、空心砖、多孔砖、空心砌块等不同规格红砖领域有一定研究。由其我们自主研发出的分散供热、
          分散排潮、脱硫排污技术也有很好的市场效果。同时我们会结合国内外各地方的资源性质状况，原材料的塑性指数、含水率、煤炭的挥发成份，
          分别采用不同的科学依据进行设计、建造深受全国同行业及相关部门的认可的精品工程。</p>
      </div>
      
      <div class="col-lg-4">
        <p>华伟窑炉经过多年的技术研发与经验，为满足客户的不同需求，将移动式隧道窑分为多个大小不同的断面，其中分为：7米、8米、10米、13米等。
          现我公司建有大量成熟项目遍布全国：湖南，河南，云南，广西、广东等地。所留下的痕迹皆为精品，深受客户的好评。
          公司为客户提供“一条龙”服务，可根据客户的不同情况，进行窑炉设计与施工、工艺设计及设备制造、人员培训、售后服务等专业技术。为客户生产打下最坚硬的基石，做客户最坚强的后盾。确保投资者的满意度。
           我们的宗旨是“以人为本，打造精品”您有需要，我们满足。我们真诚期待与您的合作。一起携手华伟，共赏未来！ </p>
      </div>
      
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
