<!-- About Section -->
<section id="file">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>公司档案</h2>
        <!-- <hr class="star-light"> -->
         <hr class="star-primary"> 
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p><strong>公司名称：</strong>新乡华伟窑炉技术研发有限公司</p>
        <p><strong>公司类型：</strong>个体经营 (制造商)</p>
        <p><strong>所在地：</strong>河南/新乡市</p>
        <p><strong>公司规模：</strong>100-499人</p>
        <p><strong>注册资本：</strong>1000万人民币</p>
        <p><strong>注册年份：</strong>2006</p>
        <p><strong>资料认证：</strong></p>
        <p><strong>经营模式：</strong>制造商</p>
        <p><strong>经营范围：</strong>窑炉、旋转式隧道窑、移动式隧道窑、旋转窑、环保窑、钢结构隧道窑</p>
        <p><strong>销售的产品：</strong>旋转式隧道窑/移动式隧道窑/环保窑/旋转窑</p>
        <p><strong>主营行业：</strong></p>
        <ul style="font-family: Arial, sans-serif; font-size: 20px; color: #000;">
          <li><a href="http://www.chinakiln.net/company/jiancaizhuanwayaolu/" target="_blank">建材、砖瓦窑炉</a></li>
          <li><a href="http://www.chinakiln.net/company/meishizhuansuidaoyao/" target="_blank">	建材、砖瓦窑炉 / 煤矸石砖隧道窑</a></li>
          <li><a href="http://www.chinakiln.net/company/574/" target="_blank">建材、砖瓦窑炉 / 粉煤灰砖隧道窑</a></li>
          <li><a href="http://www.chinakiln.net/company/qitazhuanwayaolu/" target="_blank">建材、砖瓦窑炉 / 其它砖瓦窑炉</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>